// Global default params, used in configs
params{
    //general parameters
    mode = "standard" //titration titration_bootstrap
    align = "mTMalign" // 3dcoffee tcoffee
    trimmer = "untrimmed" //trimmal


    //Input data:
    fasta = null
    templates = null
    pdb = null

    //Parameters for tree computation:
    gammaRate = null
    seedValue = null
    replicatesNum = null
    tree_mode = null

    
    output = null
}

profiles {

    untrimmed_mTM{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/mtmalign_untrimmed.config'
    }

    trimmed_mTM{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/mtmalign_trimmed.config'
    }

    untrimmed_3dc{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/3dcoffee_untrimmed.config'
    }

    trimmed_3dc{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/3dcoffee_trimmed.config'
    }

    untrimmed_tc{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/tcoffee_untrimmed.config'
    }

    trimmed_tc{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/tcoffee_trimmed.config'
    }

    titration{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/titration.config' //the default aligner-trimming for the titration is mtmalign_untrimmed
    }

    titration_bootstrap{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/titration_bootstrap.config' //the default aligner-trimming for the titration is mtmalign_untrimmed; the default replicate is 0
    }

    multistrap{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/mtmalign_untrimmed.config'
        includeConfig 'conf/multistrap.config' 
        includeConfig 'conf/modules_multistrap.config'
    }
    analysis{
        includeConfig 'conf/base.config'
        includeConfig 'conf/crg.config'
        includeConfig 'conf/parameters.config'
        includeConfig 'conf/analysis.config'
        includeConfig 'conf/modules_analysis.config'
    }

    test{
        includeConfig 'conf/test.config'
    }
}