params{
    //general parameters
    params.mode = "standard" //titration titration_bootstrap
    params.align = "3dcoffee" // mTMalign tcoffee
    params.trimmer = "trimmal" //untrimmed

    //Input data:
    params.fasta = "${baseDir}/data/fastas/*"
    params.templates = "${baseDir}/data/template_lists/*"
    params.pdb = "${baseDir}/data/pdbs/*"
    
}