params{
    //general parameters
    mode = "standard" //titration titration_bootstrap
    align = "sap_tmalign" // mTMalign tcoffee
    trimmer = "trimmed" //untrimmed

    //Input data:
    fasta = "${baseDir}/data/fastas/*"
    templates = "${baseDir}/data/template_lists/*"
    pdb = "${baseDir}/data/pdbs/*"
    
}