params{
    mode = "analysis"

    alignments = "alignments"

    main_dir  = "${baseDir}"
    templates = "${params.main_dir}/data/template_lists/*"
    pdb       = "${params.main_dir}/data/pdbs/*"
    msas      = "${params.main_dir}/results/*_fasta/*/*"
    output    = "${params.main_dir}/results/"

    // ----------------------------
    //    for split analysis
    // ----------------------------

    titration_25_dir  ="/users/cn/lmansouri/PROJECTS/Phylo3D/NEW_Phylo3D/NF_TMalign/mTMalign/titration_every_5_bootstrap_on_25_columns"
    titration_200_dir ="/users/cn/lmansouri/PROJECTS/Phylo3D/NEW_Phylo3D/NF_TMalign/mTMalign/titration_every_5_bootstrap_200_columns" 
    trees          = "${params.titration_200_dir}/PF*/*/*.{nwk,treefile}"

    replicates_25  = "${params.titration_25_dir}/PF00026/*_trees/*{txt,boottrees}"
    replicates_200 = "${params.titration_200_dir}/PF00026/*_trees/*{txt,boottrees}"

}

tower{
    enabled = true
}

