params{
    mode = "analysis"

    alignments = "alignments"

    main_dir  = "/users/cn/lmansouri/PROJECTS/Phylo3D/NEW_Phylo3D/NF_draft"
    templates = "${params.main_dir}/template_lists/*"
    pdb       = "${params.main_dir}/pdb/*"
    msas      = "${params.main_dir}/*_fasta/*"

}

tower{
    enabled = true
}

