params{
    mode = "analysis"

    alignments = "alignments"

    main_dir  = "${baseDir}"
    templates = "${params.main_dir}/data/template_lists/*"
    pdb       = "${params.main_dir}/data/pdbs/*"
    msas      = "${params.main_dir}/results/*_fasta/*"
    output    = "${params.main_dir}/results/"

    trees     = "${params.main_dir}/results/trees/*"

}

tower{
    enabled = true
}

