process{

    withName: "sap_tmalign_alignment"{
        publishDir = [
            path: { "${params.output}/sap_tmalign_${params.trimmer}_fasta/$id" },
            mode: "copy"
        ]
    }


    withName: "computing_IMD_ME_trees"{
        publishDir = [
            path: { "${params.output}/${params.align}_3d_ME_${params.trimmer}_trees/$replicate" },
            mode: "copy", 
            overwrite: true
        ]
    }

    withName: "computing_Seq_ME_trees"{
        publishDir = [
            path: { "${params.output}/${params.align}_ME_${params.trimmer}_trees/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.nwk"
        ], 
        publishDir = [
            path: { "${params.output}/${params.align}_ME_${params.trimmer}_trees/replicates" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.replicates"
        ]     
    }

    withName: "computing_Seq_ME_trees_no_bs"{
        publishDir = [
            path: { "${params.output}/${params.align}_ME_${params.trimmer}_matrix/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.matrix"
        ]   
    }

    withName: "computing_Seq_ML_trees"{
        publishDir = [
            path: { "${params.output}/${params.align}_ML_${params.trimmer}_trees/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.nwk"
        ], 
        publishDir = [
            path: { "${params.output}/${params.align}_ML_${params.trimmer}_trees/replicates" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.replicates"
        ]     
    } 

    withName: "computing_Seq_ML_trees_no_bs"{
        publishDir = [
            path: { "${params.output}/${params.align}_ML_${params.trimmer}_trees/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.nwk"
        ]  
    } 

    withName: "computing_splitfiles"{
        publishDir = [
            path: { "${params.output}/split_files/${type}/" },
            mode: "copy", 
            overwrite: true
        ]  
    } 

    withName: "computing_IMD_titr_matrices_bs"{
        publishDir = [
            path: { "${params.output}/${params.align}_3d_ME_${params.trimmer}_matrix/" },
            mode: "copy", 
            overwrite: true
        ]  
    } 

    withName: "computing_IMD_titr_matrices"{
        publishDir = [
            path: { "{params.output}/${params.align}_3d_ME_${params.trimmer}_matrix/" },
            mode: "copy", 
            overwrite: true
        ]  
    } 

    withName: "computing_TM_ME_trees"{
        publishDir = [
            path: { "${params.output}/${params.align}_TM_${params.trimmer}_trees" },
            mode: "copy", 
            overwrite: true
        ]  
    } 

    withName: "computing_IMD_tr_matrices"{
        publishDir = [
            path: { "${params.output}/${params.align}_3d_ME_${params.trimmer}_matrix/" },
            mode: "copy", 
            overwrite: true
        ]  
    } 

    withName: "converting_to_phylip"{
        publishDir = [
            path: { "${params.output}/${params.align}_${params.trimmer}_ph" },
            mode: "copy", 
            overwrite: true
        ]  
    }

    withName: "extracting_matrices"{
        publishDir = [
            path: { "${params.output}/${params.align}_3d_ME_${params.trimmer}_matrix/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.matrix"
        ],
        publishDir = [
            path: { "${params.output}/${params.align}_3d_ME_${params.trimmer}_matrix/replicates" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.txt"
        ]          
    }

    withName: "mTMalign_alignment"{
        publishDir = [
            path: { "${params.output}/${params.align}_fasta/$id" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.fa"
        ],
        publishDir = [
            path: { "${params.output}/mTMalign_matrix/$id" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.matrix"
        ]          
    }

    withName: "generating_randomized_fractions"{
        publishDir = [
            path: { "${params.output}/random_sampled_alignment" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.fa"
        ],
        publishDir = [
            path: { "${params.output}/random_sampled_columns" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.txt"
        ]          
    }

    withName: "removing_gaps"{
        publishDir = [
            path: { "${params.output}/UNGAPPED_5_fasta/" },
            mode: "copy", 
            overwrite: true,
            pattern: "*.fa"
        ]  
    }


    withName: "tcoffee_alignment"{
        publishDir = [
            path: { "${params.output}/${params.align}_fasta/$id" },
            mode: "copy"
        ]  
    }

    withName: "trimming_aln"{
        publishDir = [
            path: { "${params.output}/${params.align}_trimmed_fasta/" },
            mode: "copy",
            pattern: "*.fa"
        ]  
    }


}