process{


    // -----------------------------------------------------------------------
    //              ALIGNMENT 
    // -----------------------------------------------------------------------

    withName: "mTMalign_alignment"{
        publishDir = [
            path: { "${params.output}/msas/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.fa"
        ]
    }


    // -----------------------------------------------------------------------
    //              TREES 
    // -----------------------------------------------------------------------


    // ME
    withName: "computing_Seq_ME_trees"{
        publishDir = [[
            path: { "${params.output}/trees/ME/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.nwk", 
            saveAs:  { fn -> "${fn.split('_')[0]}_ME.nwk"}
        ],
        [
            path: { "${params.output}/trees/ME/replicates" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.replicates",
            saveAs:  { fn -> "${fn.split('_')[0]}_ME.replicates"}
        ] 
        ]
    }


    // ML 
    withName: "computing_Seq_ML_trees"{
        publishDir = [[
            path: { "${params.output}/trees/ML/" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.nwk",
            saveAs:  { fn -> "${fn.split('_')[0]}_ML.nwk"}
        ],[
            path: { "${params.output}/trees/ML/replicates" },
            mode: "copy", 
            overwrite: true, 
            pattern: "*.replicates",
            saveAs:  { fn -> "${fn.split('_')[0]}_ML.replicates"}
            ] 
        ]
    }
    

    // IMD
    withName: "computing_IMD_ME_trees"{
        publishDir = [
            path: { "${params.output}/trees/IMD/" },
            mode: "copy",
            overwrite: true,
            pattern: "*matrices.1.matrix*.nwk",
            saveAs:  { fn -> 
                    "${fn.split('_')[0]}_IMD.nwk"
            }        
        ]
    }
    withName: "MERGE_REPLICATES"{
        publishDir = [
            path: { "${params.output}/trees/IMD/replicates" },
            mode: "copy",
            overwrite: true,
            saveAs:  { fn -> "${fn.split('_')[0]}_IMD.replicates"}
        ]
    }
}