params{
    
    //general parameters
    mode = "standard" //titration titration_bootstrap
    align = "mTMalign" // 3dcoffee tcoffee
    trimmer = "untrimmed" //trimmal

    //Input data:
    fasta = "${baseDir}/data/mtmalign_input_lists/*"
    templates = "${baseDir}/data/mtmalign_template_lists/*"
    pdb = "${baseDir}/data/pdbs/*"
}