params{
    
    //general parameters
    params.mode = "standard" //titration titration_bootstrap
    params.align = "mTMalign" // 3dcoffee tcoffee
    params.trimmer = "untrimmed" //trimmal

    //Input data:
    params.fasta = "${baseDir}/data/mtmalign_input_lists/*"
    params.templates = "${baseDir}/data/mtmalign_template_lists/*"
    params.pdb = "${baseDir}/data/pdbs/*"
}