params{
    
    //general parameters
    params.mode = "standard" //titration titration_bootstrap
    params.align = "tcoffee" // mTMalign 3dcoffee
    params.trimmer = "untrimmed" //trimmal

    //Input data:
    params.fasta = "${baseDir}/data/fastas/*"
    params.templates = "${baseDir}/data/template_lists/*"
    params.pdb = "${baseDir}/data/pdbs/*"
}