params{
    
    //general parameters
    params.mode = "titration_bootstrap" //titration titration_bootstrap
    params.align = "mTMalign" // mTMalign 3dcoffee
    params.trimmer = "untrimmed" //trimmal
    params.replicate= '0'
    params.nCOL = '200'

    //Input data:
    params.fasta = "${baseDir}/data/fastas/*"
    params.templates = "${baseDir}/data/template_lists/*"
    params.pdb = "${baseDir}/data/pdbs/*"

}