params{
    output = "${baseDir}/results/titration"

    //general parameters
    mode = "titration" //standard titration_bootstrap
    align = "mTMalign" // tcoffee 3dcoffee
    trimmer = "untrimmed" //trimmal

    //Input data:
    fasta = "${baseDir}/data/mtmalign_input_lists/*"
    templates = "${baseDir}/data/mtmalign_template_lists/*"
    pdb = "${baseDir}/data/pdbs/*"

}


process{
    withName: "computing_Seq_ME_trees|computing_Seq_ME_trees_no_bs"{
        publishDir = [
            path: { "${params.output}/ME_trees" },
            mode: "copy"
        ]  
    }

    withName: "computing_IMD_ME_trees"{
        publishDir = [
            path: { "${params.output}/IMD_trees" },
            mode: "copy"
        ]  
    }

    withName: "computing_Seq_ML_trees|computing_Seq_ML_trees_no_bs"{
        publishDir = [
            path: { "${params.output}/ML_trees" },
            mode: "copy"
        ]  
    }

    withName: "computing_IMD_titr_matrices"{
        publishDir = [
            path: { "${params.output}/IMD_matrices" },
            mode: "copy"
        ]  
    }
}