params{
    
    output = "${baseDir}/results/titration_bs"
    //general parameters
    mode = "titration_bootstrap" //titration titration_bootstrap
    align = "mTMalign" // mTMalign 3dcoffee
    trimmer = "untrimmed" //trimmal
    replicate= '0'
    nCOL = '200'

    //Input data:
    fasta = "${baseDir}/data/mtmalign_input_lists/*"
    templates = "${baseDir}/data/mtmalign_template_lists/*"
    pdb = "${baseDir}/data/pdbs/*"

}

    

